@charset "UTF-8";
@font-face {
  font-display: swap;
  font-family: "Poppins";
  src: url("./../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("./../fonts/poppins-v20-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  src: url("./../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("./../fonts/poppins-v20-latin-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  src: url("./../fonts/poppins-v20-latin-500italic.woff2") format("woff2"), url("./../fonts/poppins-v20-latin-500italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  src: url("./../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("./../fonts/poppins-v20-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  src: url("./../fonts/poppins-v20-latin-800.woff2") format("woff2"), url("./../fonts/poppins-v20-latin-800.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  margin: 85px 0;
}

.container {
  max-width: 1612px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.button {
  padding: 21px 87px 21px 88px;
  border-radius: 15px;
  background-color: #58a9a5;
  font-weight: 500;
  font-size: 25px;
  line-height: 152%;
  color: #fff;
}

.text {
  font-size: 30px;
  line-height: 150%;
  width: 735px;
  color: #404242;
}

.subheading {
  font-weight: 800;
  font-size: 70px;
  line-height: 131%;
  text-align: center;
  color: #1c2323;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
}

.header {
  margin-bottom: 105px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  font-weight: 800;
  font-size: 35px;
  line-height: 149%;
  color: #58a9a5;
  padding-left: 51px;
}

.header__logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: -4px;
  width: 37px;
  height: 45px;
  background: url("./../img/logo.png") 0 0/contain no-repeat;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  line-height: 152%;
}

.nav__item {
  position: relative;
  margin-left: 86px;
}

.nav__ref {
  color: #404242;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav__ref:hover {
  font-size: 25px;
  line-height: 152%;
  color: #58a9a5;
}

.nav__ref:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  width: 48px;
  height: 6px;
  background: url("./../img/yellow-border.png") 0 0/contain no-repeat;
}

.page__start {
  margin-bottom: 120px;
}

.page__work {
  margin-bottom: 120px;
}

.page__project {
  margin-bottom: 250px;
}

.page__testimonial {
  margin-bottom: 240px;
}

.start__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 48px 71px 0 27px;
}

.start__heading {
  font-weight: 800;
  font-size: 70px;
  line-height: 150%;
  color: #1c2323;
  margin-bottom: 50px;
}

.start__text {
  margin-bottom: 50px;
}

.start__button {
  border-radius: 20px 20px 20px 0px;
}

.start__wrap-imgage {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 883px;
          flex: 0 0 883px;
}

.start__image {
  max-width: 100%;
  margin-right: -13px;
}

.work__subheading {
  margin-bottom: 20px;
}

.work__text {
  margin: 0 auto;
  margin-bottom: 71px;
}

.work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.work__wrap-img {
  width: 1063px;
  margin-left: 27px;
}

.work__img {
  border-radius: 10px 0px 0px 10px;
  max-width: 100%;
}

.work__body {
  position: relative;
  padding: 70px 106px 89px 115px;
  background: #ccf0e6;
  border-radius: 0px 10px 10px 0px;
}

.work__desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #486958;
  max-width: 328px;
  margin-bottom: 41px;
}

.work__link {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #486958;
}

.work__link::before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -180px;
  width: 128px;
  height: 128px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 65px;
}

.work__link::after {
  content: "";
  position: absolute;
  bottom: -36px;
  left: -165px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("./../img/play.jpg");
}

.work__wrap-pic {
  width: 642px;
  margin-left: 27px;
}

.work__pic {
  max-width: 100%;
}

.work__case {
  padding: 0 143px;
}

.work__title {
  color: #1c2323;
  width: 487px;
  margin-bottom: 50px;
}

.work__word {
  width: 708px;
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
  color: #486958;
}

.project__subheading {
  margin-bottom: 20px;
}

.project__text {
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #404242;
  margin-bottom: 51px;
}

.project__border {
  margin: 0 auto;
  width: 135px;
  height: 15px;
  border-top: 5px solid #58a9a5;
  border-bottom: 5px solid #58a9a5;
  margin-bottom: 94px;
}

.project__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -42px;
}

.project__column {
  padding: 0 42px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3334%;
          flex: 0 1 33.3334%;
}

.project__title {
  color: #58a9a5;
  margin-bottom: 5px;
}

.project__desc {
  max-width: 453px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #486958;
  margin-bottom: 35px;
}

.project__picture-1 {
  max-width: 100%;
  border-radius: 0px 0px 225px 225px;
}

.project__picture-2 {
  max-width: 100%;
  border-radius: 225px;
  margin-bottom: 35px;
}

.project__picture-3 {
  max-width: 100%;
  border-radius: 0px 0px 225px 225px;
}

.testimonial__subheading {
  margin-bottom: 21px;
}

.testimonial__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__column {
  padding: 45px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.testimonial__logo {
  max-width: 100%;
}

.testimonial__case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial__wrap-portrait {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 615px;
          flex: 0 0 615px;
}

.testimonial__portrait {
  max-width: 100%;
}

.testimonial__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 51px 107px 0 115px;
  background: #ccf0e6;
}

.testimonial__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 800;
  font-size: 70px;
  line-height: 50%;
  color: #58a9a5;
  margin-bottom: 123px;
}

.testimonial__point {
  padding-left: 115px;
}

.testimonial__point:nth-child(1) {
  margin-left: -115px;
}

.testimonial__span-list {
  font-weight: 600;
  font-size: 30px;
}

.testimonial__text {
  position: relative;
  z-index: 0;
  font-weight: 500;
  font-size: 25px;
  line-height: 152%;
  color: #486958;
  margin-bottom: 45px;
}

.testimonial__text::before {
  content: "";
  position: absolute;
  top: -85px;
  left: -65px;
  width: 133px;
  height: 136px;
  background: url("./../img/“.png") 0 0/contain no-repeat;
  z-index: -1;
}

.testimonial__span {
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  line-height: 152%;
  color: #58a9a5;
}
