.wrapper {
    margin: 85px 0;
}

.container {
    max-width: 1612px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.button {
    padding: 21px 87px 21px 88px;
    border-radius: 15px;
    background-color: $colorGreen;

    font-weight: 500;
    font-size: 25px;
    line-height: 152%;

    color: $colorWhite;
}

.text {
    font-size: 30px;
    line-height: 150%;
    width: 735px;

    color: $colorGrey;
}

.subheading {
    font-weight: 800;
    font-size: 70px;
    line-height: 131%;

    text-align: center;

    color: #1c2323;
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
}
