.page {
    &__start {
        margin-bottom: 120px;
    }

    &__work {
        margin-bottom: 120px;
    }

    &__project {
        margin-bottom: 250px;
    }

    &__testimonial {
        margin-bottom: 240px;
    }
}
