.project {
    &__subheading {
        margin-bottom: 20px;
    }

    &__text {
        font-size: 30px;
        line-height: 150%;

        text-align: center;

        color: $colorGrey;

        margin-bottom: 51px;
    }

    &__border {
        margin: 0 auto;

        width: 135px;
        height: 15px;

        border-top: 5px solid $colorGreen;
        border-bottom: 5px solid $colorGreen;

        margin-bottom: 94px;
    }

    &__row {
        display: flex;
        margin: 0 -42px;
    }

    &__column {
        padding: 0 42px;
        flex: 0 1 33.3334%;
    }

    &__item {
    }

    &__title {
        color: $colorGreen;

        margin-bottom: 5px;
    }

    &__desc {
        max-width: 453px;

        font-weight: 500;
        font-size: 20px;
        line-height: 150%;

        color: $colorDarkGreen;

        margin-bottom: 35px;
    }

    &__wrap-picture {
    }

    &__picture-1 {
        max-width: 100%;
        border-radius: 0px 0px 225px 225px;
    }

    &__picture-2 {
        max-width: 100%;
        border-radius: 225px;

        margin-bottom: 35px;
    }

    &__picture-3 {
        max-width: 100%;
        border-radius: 0px 0px 225px 225px;
    }
}
